.bcNavPagerWrapper{
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    text-align: left;
}
.bcNavPager-btn,
.bcNavPager-btn-current{
    display: inline-block;
    color: #fff;
    padding: 5px 20px;
    margin-right: 5px;
    background: #333;
}
.bcNavPager-btn-current,
.bcNavPager-btn:hover{
    color:#fff;
    background: rgb(63,200,220);
}
.bcNavPager-page-selector{
    width:50px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bcNavPager-page-selector-label{
    color: #000;
    font-weight: bold;
    margin-left: 20px;
}
.bcNavPager-page-selector-btn{
    color:#fff;
    padding:5px 10px;
    background: #333;
    border: none;
}
.bcNavPager-page-selector-btn:hover{
    background: rgb(63,200,220);
}
.bcNavPager-page-size-wrapper{
    position: relative;
    display: inline-block;
    width: 150px;
    cursor: pointer;
    margin-right: 10px;
}
.bcNavPager-page-size-selector{
    width: 100px;
    padding: 3px 5px;
}
.bcNavPager-page-size-selector-label{
    color: #000;
    font-weight: bold;
}
.bcNavPager-page-size-wrapper .bcNavPager-page-size-selector-label{
    display: inline-block;
    width: 25%;   
}
.bcNavPager-page-size-wrapper .bcNavPager-page-size-selector{    
    display: inline-block;
    width: 65%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    background: #f4f4f4 url('/BriskCoder/Pub/Package/Component/bcNavPager/Template/default/img/page-size-selector.png') no-repeat right 5px  center;
}
.bcNavPager-page-size-wrapper .bcNavPager-page-size-selector-list{
    display: none;
    position: absolute;
    left: 25%;
    width: 70%;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    background: #f4f4f4;
    border: 1px solid #ccc;    
}
.bcNavPager-page-size-wrapper .bcNavPager-page-size-selector-list li{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
.bcNavPager-page-size-wrapper .bcNavPager-page-size-selector-list li:nth-child(even){
    background: #f9f9f9;
}
.bcNavPager-records-info-wrapper{
    display: inline-block;    
    padding: 10px;
}
.bcNavPager-records-info-wrapper  > span{
    padding: 0 5px 0 0;
    color: #000;
}
.bcNavPager-records-info-wrapper .bcNavPager-records-info-text-display,
.bcNavPager-records-info-wrapper .bcNavPager-records-info-pages,
.bcNavPager-records-info-wrapper .bcNavPager-records-info-total,
.bcNavPager-records-info-wrapper .bcNavPager-records-info-end,
.bcNavPager-records-info-wrapper .bcNavPager-records-info-start{   
    font-weight: bold;
}